header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h3 {
  font-size: 5em;
  color:darkgreen;
  font-family: Impact, sans-serif;
  letter-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  margin-bottom: 10px;
}

h3 {
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  color: rgb(14, 255, 6);
  font-family: sans-serif;
  margin-top: 10px;
}

.selecao{
  display: flex;
  justify-content: center;
  align-items: center;
}

.selecao > input {
  width: 1.5em;
  font-size: 4em;
  margin-right: 15px;
  background-color: pink;
}

